<div class="lottery-create">
  <h1>{{i18n "choujiang.create.page_title"}}</h1>

  {{#if this.created}}
    <div class="alert alert-success">
      {{i18n "choujiang.create.success"}}
      <button class="btn btn-primary" {{on "click" this.goTopic}}>
        {{i18n "choujiang.create.go_topic"}}
      </button>
    </div>
  {{else}}
    {{#if this.currentUser}}
      <div class="field">
        <label>{{i18n "choujiang.create.field.title"}}</label>
        <Input @value={{this.model.title}} class="input-large"/>
      </div>

      <div class="field">
        <label>{{i18n "choujiang.create.field.prize"}}</label>
        <Input @value={{this.model.prize}}/>
      </div>

      <div class="field">
        <label>{{i18n "choujiang.create.field.winners"}}</label>
        <Input @type="number" min="1" @value={{this.model.winners}}/>
      </div>

      <div class="field">
        <label>{{i18n "choujiang.create.field.draw_time"}}</label>
        <Input @value={{this.model.draw_time}} placeholder="2025-07-10 20:00"/>
        <div class="hint">格式：YYYY-MM-DD HH:MM</div>
      </div>

      <div class="field">
        <label>{{i18n "choujiang.create.field.minimum_points"}}</label>
        <Input @type="number" min="0" @value={{this.model.minimum_points}}/>
      </div>

      <div class="field">
        <label>{{i18n "choujiang.create.field.description"}}</label>
        <Textarea @value={{this.model.description}} rows="3"/>
      </div>

      <div class="field">
        <label>{{i18n "choujiang.create.field.extra_body"}}</label>
        {{d-editor value=this.model.extra_body}}
      </div>

      <div class="field">
        <label>{{i18n "choujiang.create.field.category"}}</label>
        {{category-chooser value=this.model.category_id onChange=(action (mut this.model.category_id))}}
      </div>

      <div class="actions">
        <button class="btn btn-primary" disabled={{not this.canSubmit}} {{on "click" this.submit}}>
          {{#if this.submitting}}
            {{i18n "choujiang.create.submitting"}}
          {{else}}
            {{i18n "choujiang.create.submit"}}
          {{/if}}
        </button>
      </div>
    {{else}}
      <div class="alert alert-info">
        {{i18n "choujiang.create.need_login"}}
        <a href="/login">登录</a> |
        <a href="https://www.tkcall.com/t/topic/204" target="_blank" rel="noopener">
          {{i18n "choujiang.create.help_link_text"}}
        </a>
      </div>
    {{/if}}
  {{/if}}
</div>
